* {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;

}
:root {
    --green: #93C47D;
    --red: #E06566;
    --orange: #FF9B0D;
}
body{
    height: 100%;
}
div.wrapper {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}
.flex-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-items: center; 
  
}
div.container {
    margin:20px;
    width: 350px; 
    align-self: center;
    /* overflow-y: auto; */
}
header {
    text-align: center;
    background-color: var(--green);
    color: white;
    padding: 7px;
    text-transform: uppercase;
}

ul{
    height: 70vh;
    overflow-y: scroll;
    
}
ul, li{
    list-style-type: none;
    padding: 5px 0;
    font-size: 14px;
    color: var(--orange);
}
ul button{
    margin: 0 10px 0 0;
    border: 0px;
    background-color: var(--red);
    color: white;
    outline: none;

}
ul button:hover{
    background-color: #F24E50;

}


section input[type="text"]{
    border: 3px solid var(--green);
    padding: 7px;
    color: var(--green);
    margin:0 7px 0 0;
    font-size:14px;
    flex-grow: 5;
    outline: none;
}
section input[type="submit"]{
    border: 3px solid var(--green);
    background-color: white;
    color: var(--green);
    text-transform: uppercase;
    font-size:14px;
    font-weight: bold;
    padding: 7px;
    outline: none;

}

